
$startup-pink: #E9018B;

@mixin mobile {
  @media only screen and (max-width: 550px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: 800px) {
    @content;
  }
}

@mixin xs-screen {
  @media only screen and (max-width: 990px) {
    @content;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  background-color:#f1f1f1;
}

body {
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* HEADER */

header {
  background: url("http://i.imgur.com/aLOGkpc.png") no-repeat center bottom;
  background-size: cover;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    width: 70%;
    text-align: center;
    position: relative;
    padding: 2rem;
    margin: 0;
    @include mobile {
      left: .5rem;
    }
    .sponsor {
      width: 15vw;
      min-width: 15rem;

      @include mobile {
        width: 10rem;
        min-width: 0;
      }
    }
    .plus {
      @include mobile {
        padding: 2rem 0;
        font-size: 2rem;
      }
      @include tablet {
        padding: 2rem 0;
        font-size: 2rem;
      }
    }
    .header-text h2 {
      color: white;
      font-weight: lighter;
      @include mobile {
        font-size: 2rem;
      }
    }
    .logo {
      margin: 0 auto;
      padding-top: 4rem;
      max-width: 60rem;
      min-width: 0;
      @include tablet {
        width: 100%;
      }
      @include mobile {
        width: 100%;
      }
    }
  }
}

/* ABOUT */

.about {
  background-color:#f1f1f1;
  padding: 2rem 10rem;

  @include mobile {
    padding: 2rem 3rem;
  }

  /* FORM BUTTON */

  .form-btn {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 5rem;

    h4 {
      color:$startup-pink;
    }

    .large {
      padding: .5rem;
      width: 20rem;
      height: 5rem;
    }
  }
}

/* FEATURE STARTUPS */

.startups {
  background-color:#ffffff;
  padding: 5rem 0;
  .team-info {
    padding-top: 15px;
    margin:0 auto;
    max-width:80%;
    @include xs-screen {
      max-width: 100%;
    }
    .team {
      font-weight: lighter;
      margin: 0 auto;
      @include tablet {
        width: 70%;
      }
      @include mobile {
        float: none !important;
        width: 100% !important;
        max-width: 30rem;
        padding: 2rem 0;
      }
      .profile {
        padding-top: 10px;
        color:$startup-pink;
        text-align: center;
      }
      .logo {
        position: relative;
        top: -5rem;
        width: 30%;
        margin-bottom: -4rem;
        border: 8px solid #ffffff;
      }
    }
  }

  h2 {
    text-align: center;
    padding-bottom: 3rem;
    @include mobile {
      font-size: 2.5rem;
    }
  }
  .logos-table {
    margin: 0 auto;
    .startup-feature {
      max-width: 20rem;
      padding: -5rem;
      align-items: center;
      justify-content: center;
      text-align: center;
      h4 {
        text-align:center;
      }
    }
  }

  .center {
     float: none;
     margin-left: auto;
     margin-right: auto;
  }
  .list-item {
    max-width: 30rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    h4 {
      text-align:center;
    }
  }

  .form-btn {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 5rem;

    h4 {
      color:$startup-pink;
    }

    .large {
      padding: .5rem;
      width: 20rem;
      height: 5rem;
    }
  }
}

/* FOOTER */

footer {
  background-color:#222222;
  padding: 60px 0;
  color: white;

  h3 {
    margin-top: -1rem;
    text-align: center;
    padding-bottom: 3rem;
    font-weight: lighter;
    @include mobile {
      font-size: 2.5rem;
    }
  }
  .blog-posts
  {
    padding-bottom: 3rem;
    .blog
    {
      margin: 0 auto;
      display:block;
      width:15rem;
      height:15rem;
      border-radius:15rem;
      font-size:2rem;
      color:gray;
      line-height:5rem;
      text-align:center;
      text-decoration:none;
      background: url("http://i.imgur.com/5W37lDF.png");
      .logo-small {
        padding-top: 4rem;
        margin: 0 auto;
        width: 6rem;
      }
      @include tablet {
        width:10rem;
        height:10rem;
        border-radius:10rem;
        line-height:5rem;
        .logo-small {
          padding-top: 1rem;
        }
      }
    }
    .blog:hover
    {
      color:$startup-pink;
      text-decoration:none;
      opacity: 0.7;
    }
  }
  .contact {
    padding-top: 30px;
    @include mobile {
      padding-top: -20px;
    }
    a {
      color: $startup-pink;
      text-decoration: none;
    }
    h4 {
      font-size: 2.5rem;
      font-weight: lighter;
    }
    .circletag {
      display: block;
      width: 6rem;
      height: 6rem;
      padding-top: 1rem;
      background: #ffffff;
      -moz-border-radius: 3rem;
      -webkit-border-radius: 3rem;
      background-image: url(no.png);
      background-position:50% 50%;
      background-repeat:no-repeat;
      .icon {
        color: $startup-pink;
      }
    }
    .circletag:hover
    {
      text-decoration:none;
      opacity: 0.7;
    }
  }
}
